# Ignore build symlinks
**.tmp
**.direnv/
**.devenv/

# Ignore temporary files for when doing manual tests with themes
**node_modules/
# **package-lock.json
# **package.json

# Resume formats
**resume.html
**resume.json
**resume.ya?ml
**((render-)?cv|resume)*.(json|html|pdf|to?ml|ya?ml)
**.pdf
**.png

# Private data
**src/private.json
**src/private.nix
**src/private.*

# Disable
**.disable
**.disable/
**.old
**.old/
**.hide
**.hide/

# Debugging
out/

# Nix formats
**result*
